<!-- Element components -->

<script src="/css/js/cycle.js"></script>
<script src="/css/js/caro.js"></script>
<script src="/css/js/tagscroller.js"></script>

<!-- COMPONENTS -->

<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/foldmenu.js"></script>
<script src="/css/js/components/lazy-images.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/mobile-menu.js"></script>
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/read-more.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>

<!-- CUSTOM -->

<script src="/css/js/components/custom.js"></script>
