<div class="visual">
    <div class="container">
        <div class="cols visual-content">
            <div class="xs-hide xsm-hide sm-2 visual-content-left"><img class="img-responsive img-center visual-bottom" src="https://shop75.kaart-o-matic.nl/img/proof-images/card-portrait.svg" /></div>
            <div class="sm-8 text-center">
                <h1>De leukste kaartjes maak je hier!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="button button-xlg button-success" href="">Bekijk de nieuwe kaartjes</a></div>
            <div class="xs-hide xsm-hide sm-2 visual-content-right"><img class="img-responsive img-center visual-bottom" src="https://shop75.kaart-o-matic.nl/img/proof-images/card-portrait.svg" /></div>
        </div>
    </div>
</div>
<div class="cols cols-multi">
    <div class="xs-12 xsm-6 sm-6 md-6 lg-6">
        <div class="thumbnail" onclick="location.href = '/geboortekaartjes';"><img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-landscape.svg" />
            <div class="thumbnail-footer text-center">
                <h3>Geboortekaartjes</h3>
            </div>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-6 md-6 lg-6">
        <div class="thumbnail" onclick="location.href = '/trouwkaarten';"><img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-landscape.svg" />
            <div class="thumbnail-footer text-center">
                <h3>Trouwkaarten</h3>
            </div>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wenskaarten';"><img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg" />
            <div class="thumbnail-footer text-center">
                <h3>Wenskaarten</h3>
            </div>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen';"><img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg" />
            <div class="thumbnail-footer text-center">
                <h3>Uitnodigingen</h3>
            </div>
        </div>
    </div>
    <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/verhuiskaarten';"><img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg" />
            <div class="thumbnail-footer text-center">
                <h3>Verhuiskaarten</h3>
            </div>
        </div>
    </div>
</div>