<div class="cols cols-multi">
    <div class="xs-12 ">
        <div class="js-component-read-more">
            <p>
                Fusce faucibus sollicitudin risus, sed hendrerit lorem fringilla at. Cras sit amet dapibus elit. Donec fringilla sem justo, eu auctor turpis tempus in. <span class="read-more-link">lees meer</span>
            </p>

            <p class="read-more-text">
                Vestibulum ut nibh lacus. Sed consequat felis quis nibh elementum pulvinar iaculis at nisi. Aenean pellentesque ex sit amet massa consequat, placerat tempus felis pretium. Aliquam ac nunc sit amet diam sollicitudin bibendum ac eget lacus. Donec aliquet facilisis lacinia. Nullam nec dictum lectus. Donec vel ligula quis leo pretium eleifend. Aenean erat velit, ultricies ut pretium in, consectetur non nisl. Praesent vitae ullamcorper libero, nec aliquam eros. Nullam ut malesuada lorem. Proin volutpat, enim consectetur dapibus cursus, odio odio ultrices nulla, nec condimentum metus tellus sit amet quam. Quisque viverra nulla ut ultrices rhoncus. Curabitur sit amet elit vehicula, dictum nisl et, ultrices mauris. Fusce ante tortor, rhoncus ut dolor sed, porttitor auctor risus. Sed gravida egestas porta.
            </p>
            <p class="read-more-text">
                Nunc tempor iaculis magna eu accumsan. Duis varius nisl ut sem pulvinar, sit amet feugiat metus euismod. Duis nec ex vel neque cursus posuere. In quis ex ante. Praesent quam ligula, cursus a libero quis, vulputate iaculis neque. Maecenas magna lacus, iaculis eget sagittis eu, pharetra in dolor. Donec tristique feugiat cursus. Duis quis libero vel nunc rutrum ullamcorper. Suspendisse id est tincidunt, molestie elit aliquam, efficitur ante. Ut lobortis, sapien nec sagittis elementum, velit odio placerat diam, at commodo est justo sed metus. Vivamus vitae sem scelerisque ipsum suscipit fringilla sit amet id ligula. Vestibulum dignissim turpis molestie odio dignissim congue. In nec ultricies justo. Donec sodales varius euismod.
            </p>
        </div>
        <div class="js-component-read-more">
            <p>
                Fusce faucibus sollicitudin risus, sed hendrerit lorem fringilla at. Cras sit amet dapibus elit.  <span class="read-more-link">lees meer</span>
            </p>

            <p class="read-more-text">
                Nunc tempor iaculis magna eu accumsan. Duis varius nisl ut sem pulvinar, sit amet feugiat metus euismod. Duis nec ex vel neque cursus posuere. In quis ex ante. Praesent quam ligula, cursus a libero quis, vulputate iaculis neque. Maecenas magna lacus, iaculis eget sagittis eu, pharetra in dolor. Donec tristique feugiat cursus. Duis quis libero vel nunc rutrum ullamcorper. Suspendisse id est tincidunt, molestie elit aliquam, efficitur ante. Ut lobortis, sapien nec sagittis elementum, velit odio placerat diam, at commodo est justo sed metus. Vivamus vitae sem scelerisque ipsum suscipit fringilla sit amet id ligula. Vestibulum dignissim turpis molestie odio dignissim congue. In nec ultricies justo. Donec sodales varius euismod.
            </p>
        </div>

    </div>
</div>