<style>
    
.lazy-load {
    transition: opacity 1s;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 1;
    filter: blur(3px); /* blur the lowres image */
}
.lazy-load-wrapper {
    overflow: visible;
    position: relative;
    display: block;
    background: #aaa center center no-repeat;
    background-size: cover;
}
.lazy-load-wrapper .lazy-load-large {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.lazy-load-wrapper.is-loaded  .lazy-load-large {
    opacity: 1 ;
}
.lazy-load-wrapper.is-loaded .lazy-load {
    opacity: 0 ;
}

.lazy-load-background {
/*    filter: blur(3px);  blur the lowres image 
*/    transition: filter 0.5s;

}
.lazy-load-container {
    filter: blur(1px);
    transition: opacity 0.5s;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 1;
}
.lazy-load-container-large {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    opacity: 1;
}
.lazy-load-background.is-loaded  .lazy-load-container {
    opacity: 0;
}


.cols {
    -webkit-columns: 20% 4; /* Chrome, Safari, Opera */
    -moz-columns: 20% 4; /* Firefox */
    columns: 20% 4;
}
.sm-3, .sm-6 {
    float: initial;
    width: 24%;
    display: inline-block;
}
.sm-6 {
    width: 49%;
}
#categories {
    display: none;
}
#pagecontent {
    width: 100%;
}

.ratio169 {
    padding-top: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
}

</style>



<div class="cols">
     <div class="sm-3">
        <div class="ratio169 js-lazy-load lazy-load-background" style="background-image: url(/media/elephant1xlowres.jpg)">

        dit zou dan nog wat tekst kunnen zijn.
        </div>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant1xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant2xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant3xlowres.jpg"/>
    </div>
     <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>
   <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant4xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant5xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant6xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant7xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant9xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant11xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant12xlowres.jpg"/>
    </div>
    <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant15xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant16xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant18xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant19xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant20xlowres.jpg"/>
    </div>
    <div class="sm-3">
        <img class="js-lazy-load lazy-load" src="/media/elephant21xlowres.jpg"/>
    </div>
    <div class="sm-6"><h3>Het zou leuk zijn als deze tekst blijft staan waar hij staat als hij ingeladen wordt</h3></div>


</div>
