/** COMPONENTS - LAZY-IMAGES -----------------------------------------**/

.lazy-load {
    transition: opacity 1s;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 1;
    filter: blur(3px); /* blur the lowres image */
}
.lazy-load-wrapper {
    overflow: visible;
    position: relative;
    display: block;
    background: #aaa center center no-repeat;
    background-size: cover;
}
.lazy-load-wrapper .lazy-load-large {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.lazy-load-wrapper.is-loaded  .lazy-load-large {
    opacity: 1 ;
}
.lazy-load-wrapper.is-loaded .lazy-load {
    opacity: 0 ;
}
.lazy-load-container {
    filter: blur(1px);
    transition: opacity 0.5s;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 1;
}
.lazy-load-container-large {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    opacity: 1;
}
.lazy-load-background.is-loaded  .lazy-load-container {
    opacity: 0;
}
