/** COMPONENTS - READ-MORE -----------------------------------------**/

.js-component-read-more {
    position: relative;
    border-bottom: 1px solid rgba(159, 197, 232, 0.5);
    margin-bottom: 20px;
    padding-bottom: 10px;
    .read-more-link {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 0.9em;
        cursor: pointer;
        color: #9FC5E8;
        white-space: nowrap;
        line-height: 1em;
    }
    .read-more-text {
        display: none;
    }
    &.open {
        .read-more-text {
            display: block;
        }
    }
}




@media only screen and (min-width: 768px) {
    .js-component-read-more {
        border-bottom: none;
        margin-bottom: none;
        &.open {
            padding-bottom: 0px;
        }
        .read-more-link {
            display: none;
        }
        .read-more-text {
            display: block;
        }


   }

}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
}