/** BLOCKS - MID **/

#mid {
	margin-top: 100px;
}

@media only screen and (min-width: 768px) {
    #mid {
		margin-top: 60px;
    }
}
@media only screen and (min-width: 992px) {
    #mid {
		margin-top: 0px;
    }
}
