/** BLOCKS - VISUAL **/

.visual {
	margin-top: 100px;
	margin-bottom: -100px;
}


@media only screen and (min-width: 768px) {
	.visual {
		margin-top: 60px;
		margin-bottom: -60px;
	}
}
@media only screen and (min-width: 992px) {
	.visual {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
